<footer class="footer">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-2-desktop">
                <figure class="image is-128x128">
                    <img alt="Logo" src="{{ absURL "img/footlogo.svg" }}" />
                </figure>
            </div>
            <div class="column mb-6">
                <div class="columns is-desktop">
                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5 ">
                            <a
                                href="https://qgis.org/project/overview"
                                class="footertitle text-nowrap"
                            >
                                Project
                            </a>
                        </li>
                        {{- range site.Menus.qgis_org }}
                            {{- if eq .Name "Project" }}
                                {{ range sort .Children "Weight" }}
                                    <li class="mb-4">
                                        <a
                                            class="has-text-white text-nowrap"
                                            href="{{ .URL }}"
                                        >
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>

                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5">
                            <a
                                href="https://qgis.org/community/involve"
                                class="footertitle text-nowrap"
                            >
                                Community
                            </a>
                        </li>
                        {{- range site.Menus.qgis_org }}
                            {{- if eq .Name "Community" }}
                                {{ range sort .Children "Weight" }}
                                    <li class="mb-4">
                                        <a
                                            class="has-text-white text-nowrap"
                                            href="{{ .URL }}"
                                        >
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>

                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5 footertitle">
                            <a
                                href="https://qgis.org/resources/hub"
                                class="footertitle text-nowrap"
                            >
                                Resources
                            </a>
                        </li>
                        {{- range site.Menus.qgis_org }}
                            {{- if eq .Name "Resources" }}
                                {{ range sort .Children "Weight" }}
                                    <li class="mb-4">
                                        <a
                                            class="has-text-white text-nowrap"
                                            href="{{ .URL }}"
                                        >
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>

                    <ul class="column mb-5">
                        <li class="is-size-5 mb-5 ">
                            <a
                                href="https://qgis.org/funding/donate"
                                class="footertitle text-nowrap"
                            >
                                Funding
                            </a>
                        </li>
                        {{- range site.Menus.qgis_org }}
                            {{- if eq .Name "Funding" }}
                                {{ range sort .Children "Weight" }}
                                    <li class="mb-4">
                                        <a
                                            class="has-text-white text-nowrap"
                                            href="{{ .URL }}"
                                        >
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="column is-2-desktop">
                <a href="https://qgis.org/download">
                    <button class="button is-primary1 is-size-5">
                        Download
                    </button>
                </a>
            </div>
        </div>
        <div class="columns is-desktop">
            <div class="copyright column is-2-desktop has-text-white"></div>
            <div class="column social-icons-links">
                <a
                    class="has-text-white"
                    href="https://www.facebook.com/qgisid"
                >
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a
                    class="has-text-white"
                    href="https://www.youtube.com/channel/UCt4Qt1ZGkF9s6uZcnl7r4UQ"
                >
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a
                    class="has-text-white"
                    href="https://instagram.com/qgisid"
                >
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="has-text-white" href="https://github.com/qgis-id">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a
                    class="has-text-white"
                    href="https://t.me/qgisindonesia"
                >
                    <i class="fa-brands fa-telegram"></i>
                </a>
                <a
                    class="has-text-white"
                    href="mailto:qgisid@gmail.com"
                >
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
        <div
            class="columns is-desktop issue-report-link is-justify-content-center"
        >
            <a
                href="https://github.com/qgis/QGIS-UG-Indonesia/issues"
                class="column is-narrow p-0 is-size-6"
                target="_blank"
                >Ada masalah dengan situs ini? Laporkan di sini 🐙</a
            >
        </div>
    </div>
    <div class="commit-link is-size-7">
        {{ $commit := readFile (print .Site.Params.commitFile) }}
        <p>
            Commit revision:
            <a
                href="https://github.com/qgis/QGIS-UG-Indonesia/commit/{{ $commit }}"
                target="_blank"
                >{{ $commit }}</a
            >
        </p>
    </div>
</footer>
